@{
    Layout = "_Layout"; 
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Nemo Blog Hakkında</h1>
            <p class="text-justify">
                Nemo, her türlü ilginç konuyu ele alan ve okuyucularına değerli içerik sunmayı amaçlayan bir makale blog platformudur. Amacımız, zengin ve çeşitli içeriklerle kullanıcılarımızın ilgisini çekmek ve onlara bilgi, eğlence ve ilham vermektedir. Teknoloji, psikoloji, bilim, moda, tarih ve daha birçok konuda makalelerimiz bulunmaktadır.
            </p>
            <p class="text-justify">
                Nemo'nun temel değerlerinden biri kaliteli içeriktir. Her yazı, uzmanlar tarafından incelenir ve doğrulanır. Okuyucularımıza güvenilir ve güncel bilgiler sunmak için çaba gösteriyoruz. Ayrıca, kullanıcılarımızın geri bildirimlerini dikkate alıyor ve içeriklerimizi sürekli olarak geliştiriyoruz.
            </p>
            <p class="text-justify">
                Nemo'ya hoş geldiniz! Sizi bilgilendirici, ilgi çekici ve keyifli bir okuma deneyimi bekliyor.
            </p>
        </div>
    </div>
</div>
